@model _30Code.Models.Alternativa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<style>
    .page-wrapper {
        background-color: white;
    }
</style>
<div class="page-wrapper mt-2">
    <div class="container">

        <h2>Deletar alternativa</h2>

        <h3>Tem certeza que deseja deletar esse anexo?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Questoes.Titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Questoes.Titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Resposta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Resposta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AlternativaCorreta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AlternativaCorreta)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Deletar" class="btn btn-default" /> |
                    @Html.ActionLink("Voltar para Home", "Index")
                </div>
            }
        </div>
    </div>
</div>