@model IEnumerable<_30Code.Models.Alternativa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<style>
    .page-wrapper {
        background-color: white;
    }
</style>
<div class="page-wrapper mt-2">
    <div class="container">
        <h2>Alternativas</h2>
        <p>
            @Html.ActionLink("Criar novo", "AlternativasCreate")
        </p>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Questoes.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resposta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlternativaCorreta)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Questoes.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resposta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlternativaCorreta)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "AlternativasEdit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "AlternativasDetails", new { id = item.Id }) |
                            @Html.ActionLink("Deletar", "AlternativasDelete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
