@model IEnumerable<_30Code.Models.Anexo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<div class="container">
    <p>
        @Html.ActionLink("Create New", "AnexoCreate")
    </p>
    <form class="row" asp-controller="Index" asp-action="Index" method="post">
        <div class="col-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Procurar</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="txtProcurar">
            </div>
        </div>
        <div class="col-6">
            <button type="submit" class="btn-sm btn-success">Procurar</button>
        </div>
    </form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conteudo.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipos)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Conteudo.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPostagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipos)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AnexoEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "AnexoDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "AnexoDelete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div> 