@model _30Code.Models.Anexo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="container">

    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Anexo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Conteudo.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Conteudo.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataPostagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataPostagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipos)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
