@model _30Code.Models.Curso

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<style>
    .page-wrapper {
        background-color: white;
    }
</style>
<div class="page-wrapper mt-2">
    <div class="container">
        <h2>Detalhes do curso</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Duracao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Duracao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Url_imagem)
                </dt>

                <dd>
                    <img src="~/assets/img/Cursos/@Model.Url_imagem" style="max-width:75px;" />
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "CursoEdit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar para Home", "Index")
        </p>
    </div>
</div>
