@model _30Code.Models.Usuario_has_curso

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<style>
    .page-wrapper {
        background-color: white;
    }
</style>
<div class="page-wrapper mt-2">
    <div class="container">
        <h2>Detalhes do usuário/curso</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Curso.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "UsuHasCurEdit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar para Home", "Index")
        </p>
    </div>
</div>