@model IEnumerable<_30Code.Models.Usuario_has_curso_has_conteudo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<style>
    .page-wrapper {
        background-color: white;
    }
</style>
<div class="page-wrapper mt-2">
    <div class="container">

        <h2>Aproveitamentos de conteúdos</h2>

        <p>
            @Html.ActionLink("Criar novo", "UsuHasCurHasContCreate")
        </p>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Conteudo.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario_Has_Curso.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataDeConclusao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aproveitamento)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Conteudo.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario_Has_Curso.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataDeConclusao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aproveitamento)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "UsuHasCurHasContEdit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "UsuHasCurHasContDetails", new { id = item.Id }) |
                            @Html.ActionLink("Deletar", "UsuHasCurHasContDelete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>