@model _30Code.Models.Usuario_has_curso_has_conteudo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<style>
    .page-wrapper {
        background-color: white;
    }
</style>
<div class="page-wrapper mt-2">
    <div class="container">

        <h2>Detalhes do aproveitamento de conteúdo</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Conteudo.Titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Conteudo.Titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario_Has_Curso.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario_Has_Curso.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataDeConclusao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataDeConclusao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aproveitamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aproveitamento)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "UsuHasCurHasContEdit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar para Home", "Index")
        </p>
    </div>
</div>