<!DOCTYPE html>


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <style>
        .login {
            margin-bottom: 5px;
        }
    </style>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="icofont-envelope"></i><a href="mailto:contact@example.com">30code@gmail.com</a>
                <i class="icofont-phone"></i> +55 (12) 98126 - 4328
            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">
            <div class="logo float-left">
                <h1 class="text-light"><a href="~/Home/Index"><span>30Code</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="~/Home/Index#hero">Home</a></li>
                    <li><a href="~/Home/Index#about">About Us</a></li>
                    <li><a href="~/Home/Index#services">Services</a></li>
                    <li><a href="~/Home/Index#portfolio">Portfolio</a></li>
                    <li><a href="~/Home/Index#team">Team</a></li>
                    <li><a href="~/Home/Index#contact">Contact Us</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(User.Identity.Name + " - Sair", "Sair", "Usuarios")</li>
                    }
                    else
                    {
                        <li class="drop-down">
                            <a href="">Login</a>
                            <ul class="p-3">
                                <li>
                                    <input class="form-control login" type="email" placeholder="email" />
                                    @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control login" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@

                                    <input class="form-control login" type="password" placeholder="Senha" />
                                    @*@Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control login" } })
                                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })*@

                                    <input class="btn btn-primary form-control" type="submit" value="Login" />
                                </li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Cadastrar", "Create", "Usuarios")</li>
                    }
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Programação com Java</h3>
            </div>
            <div style="overflow:scroll;height:1000px;width:100%;overflow:auto;">

                <ul class="list-unstyled components">
                    <p>Basico</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 1 - LP</a>
                        <ul id="homeSubmenu" class="collapse list-unstyled">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 2 - Variaveis</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 3 - Strings</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 4 - POO</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu3">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 5 - Instanciação</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-unstyled components">
                    <p>Intermediario</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 1 - LP</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 2 - Variaveis</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 3 - Strings</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 4 - POO</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu3">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 5 - Instanciação</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-unstyled components">
                    <p>Avançado</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 1 - LP</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 2 - Variaveis</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 3 - Strings</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 4 - POO</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu3">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 5 - Instanciação</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li>
                                <a href="#">Apostila</a>
                            </li>
                            <li>
                                <a href="https://localhost:44390/Cursoes/Videos">Videos</a>
                            </li>
                            <li>
                                <a href="#">Exercicios</a>
                            </li>
                            <li>
                                <a href="#">Avaliação diaria</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

         <div class="row">
             <div class="col-2"></div>
             <div class="col-10">
                 @RenderBody()
             </div>
         </div>
           

                <!--<div class="container">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Mamba</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">-->
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
                <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>--> 
        </div>

        <!-- Vendor JS Files -->
        <script src="~/assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>
        <script src="~/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
        <script src="~/assets/vendor/venobox/venobox.min.js"></script>
        <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="~/assets/vendor/counterup/counterup.min.js"></script>
        <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/assets/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <!-- Scripts para o Esqueceu Senha!!!-->
        <script src="https://cdn.tiny.cloud/1/no-apikey/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

        <script>tinymce.init({ selector: 'textarea' });</script>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        @if (TempData["MSG"] != null)
        {
            <script>
            $(document).ready(function () {
            var titulo = "";
            switch ("@TempData["MSG"].ToString().Split('|')[0]") {
            case "success":
            titulo = "Sucesso";
            break;
            case "warning":
            titulo = "Atenção";
            break;
            case "error":
            titulo = "Erro";
            break;
            case "info":
            titulo = "Informação";
            break;
}swal(titulo, "@Html.Raw(TempData["MSG"].ToString().Split('|')[1])",
"@TempData["MSG"].ToString().Split('|')[0]");
});
            </script>
        }

        @RenderSection("scripts", required: false)
</body>
</html>


<style>
    body {
        /*        background: #f5f9fc;
    */
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    /* ---------------------------------------------------
                SIDEBAR STYLE
            ----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #6959CD;
        color: #fff;
        transition: all 0.3s;
    }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #836FFF;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 0px;
            text-align: center;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

            #sidebar ul li a:hover {
                color: #7386D5;
                background: #fff;
            }

        #sidebar ul li.active > a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6959CD;
        }

            #sidebar ul li.active > a:hover {
                color: #7386D5;
                background: #fff;
            }

    a[data-toggle="collapse"] {
        position: relative;
    }

    #sidebar .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #836FFF;
    }

    ul.CTAs {
        padding: 20px;
    }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    /* ---------------------------------------------------
                CONTENT STYLE
            ----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    /* ---------------------------------------------------
                MEDIAQUERIES
            ----------------------------------------------------- */

    @@media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }

            #sidebar.active {
                margin-left: 0;
            }

        #sidebarCollapse span {
            display: none;
        }
    }
</style>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>