@model _30Code.Models.Aula

@{ ViewBag.Title = "Aula"; }
<style>
    body {
        /*        background: #f5f9fc;
    */
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .hidden {
        display: none;
    }

    /* ---------------------------------------------------
                SIDEBAR STYLE
            ----------------------------------------------------- */


    .link {
        border: 0;
        cursor: pointer;
        padding: 0;
        width: 100%;
        text-align: justify;
    }

    button,
    button:hover,
    button:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        outline: none;
        box-shadow: none;
    }

    #sidebar ul li button {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li button:hover {
            color: #7386D5;
            background: #fff;
        }

    ul ul button {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #836FFF;
    }


    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 450px;
        max-width: 450px;
        background: #6959CD;
        color: #fff;
        transition: all 0.3s;
    }

        #sidebar.active {
            margin-left: -450px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #836FFF;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 0px;
            text-align: center;
        }

    p,
    label {
        font: 1rem 'Fira Sans', sans-serif;
    }

    input {
        margin: .4rem;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }


    a[data-toggle="collapse"] {
        position: relative;
    }

    #sidebar .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }


    ul.CTAs {
        padding: 20px;
    }

    /* ---------------------------------------------------
                CONTENT STYLE
            ----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    /* ---------------------------------------------------
                MEDIAQUERIES
            ----------------------------------------------------- */

    @@media (max-width: 768px) {
        #sidebar {
            margin-left: -372px;
        }

            #sidebar.active {
                margin-left: 0;
            }

        #sidebarCollapse span {
            display: none;
        }
    }
</style>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<div class="wrapper">
    @{
        var i = 0;
        var dia = 1;
        var id = Convert.ToInt32(User.Identity.Name.Split('|')[0]);
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>@Model.CursoVMs.Nome</h3>
            </div>
            <div style="overflow:scroll;height:883px;width:100%; overflow:auto;">
                <ul class="list-unstyled components">
                    @foreach (var mod in Model.CursoVMs.Modulos)
                    {
                        <p>@mod.Titulo</p>
                        var conclusao = "";
                        if (dia == 1)
                        {
                            conclusao = "Ok";
                        }
                        foreach (var cont in mod.Conteudos)
                        {
                            <li class="active">
                                @if (conclusao != "")
                                {

                                    <a href="#homeSubmenu_@i" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                        Dia @dia - @cont.Titulo
                                    </a>
                                }
                                else
                                {
                                    <a href="#homeSubmenu_@i" disabled="disabled" aria-expanded="false" class="dropdown-toggle">
                                        Dia @dia - @cont.Titulo
                                        <i class="icofont-lock" style="float:right; padding-right:6px;"></i>
                                    </a>

                                }
                                <ul id="homeSubmenu_@i" class="collapse list-unstyled">
                                    @{
                                        i += 1;
                                        dia += 1;
                                    }
                                    @foreach (var ane in cont.Anexos)
                                    {
                                        <li>
                                            <button class="a link" href="~/@ane.Url" onclick="mostrar('div1')">@ane.Tipos</button>
                                        </li>
                                    }
                                    @if (dia != 1)
                                    {
                                        <li>
                                            <button class="a link" id="btnexercicio" value="@cont.Id" onclick="mostrar('div_@cont.Id');">prova</button>
                                        </li>
                                    }
                                </ul>
                            </li>
                            if (cont.Usuario_Has_Curso_Has_Conteudos.Where(x => x.Usuario_Has_Curso.UsuarioId == id).FirstOrDefault() != null)
                            {
                                conclusao = cont.Usuario_Has_Curso_Has_Conteudos.Where(x => x.Usuario_Has_Curso.UsuarioId == id).FirstOrDefault().DataDeConclusao == null ? "" : "Ok";
                            }
                            else
                            {
                                conclusao = "";
                            }

                        }
                        <br />
                    }
                </ul>
            </div>
        </nav>
    }
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Conteúdo</span>
                </button>
            </div>
        </nav>
        <div id="pai">
            <div id="div1" class="hidden">
                <iframe style="width:100%; height:590px; border:none;" src="" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            @{
                foreach (var mod in Model.ModuloVMs)
                {
                    foreach (var cont in mod.ConteudoVMs)
                    {
                        <div id="div_@cont.Id" class="hidden">
                            @Html.Partial("_Quizz", cont)
                        </div>
                    }
                }
            }
            <div id="div4" class="hidden"><h1>Prova</h1></div>
        </div>

    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    function mostrar(id) {
        $('#pai > div').each(function () {
            $(this).hide();
        });
        $("#" + id).show();
    }

    $('.a').click(function () {
        const link = $(this).attr('href')
        $('iframe').attr('src', link)
    })

    //$('.div-sel').hide();

    //$('#homeSubmenu').on('change', function () {
    //    var selecionado = $(this).val();

    //    $('.div-sel').each(function () {
    //        if ($(this).attr('id') == selecionado) {
    //            $(this).toggle();
    //        } else {
    //            $(this).hide();
    //        }
    //    });
    //});


</script>